/** global **/

body {
  font-family: sans-serif;
  background: -moz-radial-gradient(circle, white, gray);
}

/** all big letters **/

div.guess-letter, div.rack-letter {
  height: 60px;
  width: 60px;
  margin: 10px;
  float: left;
  font-size: 36pt;
  text-align: center;
  border-radius: 5px;
}

/** guess **/

div#guess {
  background-color: red;
  margin-left: 30%;
}

div.guess-letter {
  background-color: green;
}

/** rack **/

div#rack {
  clear: both;
  margin-left: 30%;
}

div.rack-letter {
  background-color: blue;
}

/** answers (words) **/

div#answers {
  clear: both;
}

div.column {
  float: left;
  margin: 50px;
}

div.word {
  margin: 10px;
  clear: both;
}

div.word[state="not-gotten"] div.letter {
  display: none;
}

div.letter-box {
  background-color: yellow;
  padding: 3px;
  margin: 10px 2px;
  float: left;
  border-radius: 2px;
  width: 1em;
  height: 1em;
}
